@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    font-family: 'Lato', sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;

}


a:hover{
    opacity:0.7;
}

h1,h2,h3,h4,h5,h6,span{
    color:242424;
    text-align:center;
    line-height:1.25;

}
html{
    scroll-behavior: smooth;
}

h1{
    font-size:36px;

}

p{
    line-height:1.5;
    font-size:16px;
}

li{
    list-style-type:none;
}
/* Navigation Bar */

nav{
    height:100px;
    width:100%;
    max-width:1000px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:0 12px;
}

.nav__link--list{
    display:flex;

}

.flex{
    display:flex;

}

.flex-1{
    flex:1;
}

.container{
    padding:50px 0;
    
}
.section__title{
    margin-bottom:50px;
    justify-content: center;
}

.row{
    width:100%;
    max-width:800px;
    margin:0 auto;
    padding:0 12px;
}

.text--purple{
    color: #6030b1
}

section:nth-child(even){
    background-color:#f8f8f8;
}

.nav__link--anchor{
    margin:0 12px;
    color:black;
    text-decoration: none;
    font-weight:700;
    cursor: pointer;
}

.nav__link--anchor--primary{
    background-color:#6030b1;
    padding:8px 20px;
    border-radius: 50px;
    color:white;
    transition:all 300ms ease;


}

.nav__link--anchor--primary:hover{
    background-color: #5d3eff;

}


.personal_logo{
    font-size:24px;
    color:#6030b1;
    margin:0 12px;
    font-weight:bold;

}

/* ABOUT ME */

.about-me{
    min-height:100vh;
    display:flex;
    flex-direction: column;
    
}


.about-me__info{
    display:flex;
    flex-direction: column;
    
}

.wave{
    display:inline-block;
    animation:animate-wave 500ms infinite ease-in-out;
}

@keyframes animate-wave{
    0%{
        transform:rotate(0);
    }
    50%{
        transform:rotate(30deg);
    }
    100%{
        transform:rotate(0);
    }
}

.about-me__info--container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    max-width:500px;
    margin:0 auto;
    text-align:center;

}

.about-me__picture--mask{
    width:200px;
    height:200px;
    border-radius: 50%;
    overflow:hidden;
    margin-bottom:12px;
    animation: animate-profile-pic 800ms 200ms backwards;
}

@keyframes animate-profile-pic{
    0% {
        transform: scale(0);
    }
    80% {
        transform:scale(1.1);
    }
    100%{
        transform:scale(1.1);
    }
}

.about-me__picture{
    width:100%;
    top:-25px;
    position:relative;
}


.about-me__info--para{
    font-size:20px;
    margin-bottom:28px;
    animation:fade-up 400ms 400ms backwards;
}

.about-me__info--title{
    font-size:20px;
    margin-bottom:14px;
    animation:fade-up 600ms 400ms backwards;
}

.about-me__link{
    font-size:20px;
    color:black;
    text-decoration: none;
    padding:0 16px;
}
.about-me__links{
    animation:fade-up 800ms 400ms backwards;
}
@keyframes fade-up{
    0%{
        opacity:0;
        transform:translateY(40px);
    }
    100%{
        opacity:1;
        transform:translateY(0);
    }
}

.about-me__img--container{
    margin-top: 100px;
    flex:1;
    display:flex;
    align-items:center;
}

.about-me__img{
    width:100%;
    animation:fade-in 800ms 700ms backwards;
} 

@keyframes fade-in{
    0% {
        opacity:0;
    }
    100%{
        opacity:1;
    }

}




/* Technology stack section */

.language__img{
    width:100%;
    max-width:100px;
    transition: all 300ms ease;
}

.language:hover .language__img{
    filter:brightness(80%);
    opacity:0.86;
    transform:scale(0.9);

}

.language{
    width:25%;
    display:flex;
    justify-content: center;
    position:relative;
    

}
.language__img--wrapper{
    
    display:flex;
    align-items:center;
    justify-content: center;
    padding:25px 16px;
}


.language__list{
    display:flex;
    width:100%;
    flex-wrap:wrap;
}


.language__name{
    position:absolute;
    bottom:0;
    transform:scale(0);
    transition:all 300ms ease;
    font-size:20px;
    opacity:0;
}

.language:hover .language__name{
    transform:scale(1);
    opacity:1;
}


/* PROJECTS SECTION */
.project{
    margin-bottom: 150px;
}
.project__img{
    width:100%;
    transition: all 500ms ease;
}

.project:last-child{
    margin-bottom: 40px;
}

.project__wrapper{
    display:flex;
    box-shadow:0 20px 80px rgba(0,0,0,0.45);
    border-radius:20px;
    overflow:hidden;
    position: relative;
}

.project__wrapper:before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background-color: #1c1d25;
    opacity:0;
    transition: 450ms ease;
    z-index:2;
}

.project:hover .project__wrapper:before{
    opacity:0.7;
}

.project:hover .project__img{
    transform:scale(1.07);
    filter:blur(5px);
}

.project:hover .project__description{
    opacity:1;
    transform:translateY(-50%);
}

.project__list{
    padding-top: 40px;
}

.project__description{
    position:absolute;
    top:50%;
    left:90px;
    transform:translateY(100%);
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: opacity 300ms, transform 450ms;

}

.project__description--title{
    font-size:40px;
}

.project__descripition--para{
    margin:16px 0;
}

.project__description--link{
    font-size:20px;
    margin-right:16px;
    text-decoration: none;
}

.project__description--title,
.project__descripition--sub-title,
.project__descripition--para,
.project__description--link{
    text-align:left;
    color:white;
}



/* FOOTER SECTION */

.footer{
    background-color: #242424;
    
}

.footer__row{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:8% 0;
}

.footer__logo--img{
    width:70px;
    height:70px;
    
}
.footer__social--list{
    width:100%;
    max-width:500px;
    display:flex;
    justify-content: space-between;
    margin-bottom: 28px;

}

.footer__social--link,.footer__copyright,.footer__logo--popper{
    color:white;
    text-decoration: none;
}

.footer__logo--popper{
    position: absolute;
    right:0;
    top:30px;
    font-weight: 700;
    opacity:0;
    transition: all 300ms ease;
}

.footer__anchor{
    position: relative;
    margin-bottom: 20px;
}


.footer__anchor:hover .footer__logo--popper{
    transform: translateX(60px);
    opacity:1;
}

.link__hover-effect:after{
    content:"";
    position:absolute;
    height:3px;
    background-color: black;
    width:0;
    bottom:-3px;
    right:0;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after{
    width:100%;
    left:0;

}

.link__hover-effect--white:after{
    background-color: white;
}

a{
    text-decoration: none;
    position:relative;
}

@media(max-width:760px){
    nav{
        height:68px;
    }
    h1{
        font-size:28px;
    }

    .about-me__info--para{
        font-size:18px;
    }
    .project__description--para{
        font-size:14px;
    }
    .project__description{
        left:30px;
        padding-right:30px;
    }
}


/* CONTACT ME SECTION */

.section__title{
   
   display:flex;
   padding-top:10px;
 
   font-weight:bold;
   font-size:30px;
  
    
    
}

.contact-section{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    max-width:1000px;
    margin:0 auto;
    text-align:center;
}


/* input section of contact me */

.contact__form{

   display:flex;
    justify-content: center;
   height:100%;
   max-width:500px;
   padding-bottom:50px;
   
    
}


.contact__input{
    padding-left:5px;
    color:black;
    width:400px;
    height:50px;
    border-color: #5d3eff;
    border-radius: 7px;
}
.contact__inputmsg{
    padding-top:5px;
    padding-left:5px;
    color:black;
    width:400px;
    height:100px;
    border-color: #5d3eff;
    border-radius: 7px;
}
.contact__content{
    padding-bottom:10px;
}


.sendmsg-button{
    border-radius: 10px;
    background-color: #6030b1;
    padding-top: 10px;
    padding-bottom: 10px;
    width:50px;
    padding-left:10px;
    color:white;
    font-size:10px;
    padding-right:40px;
}

.mail_img{
    width:25px;
    height:20px;
    position: absolute;
    bottom: 5px;
    right:5px;

    
}


